/* home page */
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 40em;
    height: 30em;
    background-color: rgb(225, 42, 85);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box button {
    margin: 20px;
    padding: 50px 80px;
    background-color: #0704ba;
    border: 1px solid #000716;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
}

nav {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background-color: #0704ba;
    color: white;
    padding: 0.5rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.navbar-title {
    font-size: 30px;
    color: #fff;
    margin: 0;
    /* padding: 10px 15px; */
}

.navbar-icon {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 10px;
}

/* LEARN -sidebar */
.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #0704ba;
    color: white;
    padding: 2rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #fff;
}

body {
    background-image: url('bg_img.png');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.main {
    flex: 1;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: scroll;
}

.sidebar.open {
    left: 0;
}

.sidebar-button {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
    color: #f7f7f7;
}

.close-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
}

.close-button:hover {
    color: #ff0000;
}

.dropdown-buttons {
    padding: 20px;
}

.dropdown-buttons button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.dropdown-buttons button:focus {
    outline: none;
}

.sub-buttons {
    margin-left: 20px;
}

.selected-button {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e7e7f7;
    color: #020000;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    display: none;
    margin-bottom: 10px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#video-player {
    width: 80%;
    height: 80%;
}

.close-video-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* learn */

.learn-container {
    color: #f7f7f7;
    margin-top: 100px;
    margin-left: 520px;
    font-size: 30px;
}

/* .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.video {
    width: 800px;
    height: 450px;
    border: none;
} */

/* practice */
.recorder {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    padding: 5px 5px 5px 5px;
    margin-top: -180px;
    margin-left: -180px;
}

.recording-container {
    display: none;
    font-size: 30px;
    color: #e7e7f7;
    margin-top: 120px;
}

.preview-container {
    margin-left: 350px;
}

.no-pointer-events {
    pointer-events: none;
}

/* 
#preview {
    width: 100%;
    height: auto;
} */

.float-container {
    display: flex;
    align-items: center;
}

.float-child {
    display: flex;
    align-items: center;
}

/* Style buttons */
.buttonload {
    background-color: #cccccc; /* Green background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer;
  }